[data-cellid="grid_footcell_field"][data-page="mentain_workorder_print"][data-cellid="grid_footcell_field"][data-page="mentain_workorder_print"][data-cellid="grid_footcell_field"][data-page="mentain_workorder_print"] {
  white-space: nowrap;
}
[data-page="mentain_workorder_print"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


