[data-cellid="grid_cell_dpreview"][data-page="mentain_workshop1_list1"][data-cellid="grid_cell_dpreview"][data-page="mentain_workshop1_list1"][data-cellid="grid_cell_dpreview"][data-page="mentain_workshop1_list1"] {
  border: none;
}
[data-cellid="grid_headcell_icons"][data-page="mentain_workshop1_list1"][data-cellid="grid_headcell_icons"][data-page="mentain_workshop1_list1"][data-cellid="grid_headcell_icons"][data-page="mentain_workshop1_list1"] {
  border: none;
  width: 30px;
}
[data-cellid="grid_footcell_icons"][data-page="mentain_workshop1_list1"][data-cellid="grid_footcell_icons"][data-page="mentain_workshop1_list1"][data-cellid="grid_footcell_icons"][data-page="mentain_workshop1_list1"] {
  border: none;
}
[data-page="mentain_workshop1_list1"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


